_site
Gemfile

node_modules/*

!node_modules/bootstrap
node_modules/bootstrap/*
!node_modules/bootstrap/scss

!node_modules/bootswatch
node_modules/bootswatch/*
!node_modules/bootswatch/dist

!node_modules/gd-sprest-bs
node_modules/gd-sprest-bs/*
!node_modules/gd-sprest-bs/wc
