---
---

@import "styles";

/* Header */
header {
    min-height: 3.5rem;

    /* Navbar */
    .navbar {}
}

/* Main */
.main {
    /* Sidebar */
    .sidebar {
        @supports(position: sticky) {
            .navbar {
                top: 6rem;
            }
        }
    }

    /* Content */
    .content {
        /* Tables */
        table {
            @extend .table;
        }
    }
}

/* Footer */
footer {
    /* Navbar */
    .navbar {
        .navbar-brand {
            font-size: 0.75rem;
        }
    }
}