---
---

@import "styles";

/* Body */
body {
    background-color: $gray-200;
}

/* Header */
header {
    min-height: 4rem;

    /* Navbar */
    .navbar {}
}

/* Main */
.main {
    /* Sidebar */
    .sidebar {
        .navbar {
            top: 5rem;
        }
    }

    /* Content */
    .content {
        /* Tables */
        table {
            @extend .table;
        }
    }
}

/* Footer */
footer {
    /* Navbar */
    .navbar {
        .navbar-brand {
            font-size: 0.75rem;
        }
    }
}