---
layout: default
---

<div class="row flex-nowrap">
    <!-- Side Bar -->
    <div class="col-md-3 col-xl-2 d-none d-md-block d-lg-block d-xl-block border-right border-dark sidebar">
        <div class="navbar">
            <ul class="nav navbar-nav">
                {% for item in site.data.extras.items %}
                {% if item.title == page.title and item.items %}
                <a class="navbar-brand border-bottom" href="/{{ item.url }}">{{ page.title }}</a>
                {% for subItem in item.items %}
                <li class="nav-item">
                    <a class="nav-link" href="/{{ item.url }}/{{ subItem.url }}">{{ subItem.title }}</a>
                </li>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Content-->
    <div class="col-12 col-md-9 col-xl-10 content">
        {{ content }}
    </div>
</div>

<script src="{{ '/assets/js/table.js' }}"></script>